p{
    font-family: Calibri;
    font-weight: 800;
    font-size: 15pt;
    font-style: italic;
    text-align: justify;
    text-indent: 46pt;
    text-transform:uppercase;
    text-decoration:double;
    line-height: 30pt;
    word-spacing: 20pt;
    letter-spacing: 12pt;
    color: orange;
    text-shadow:10px 5px 4px 0.7;

}