<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout- Intro</title>
    <style>
        .layout1{
            width: 200px;
            height: 200px;
            background: yellow;
            float: left;
            margin: 100px 0 0 100px;
        }
        .layout2{
            width: 200px;   
            height: 200px;
            background:rgb(75, 26, 131);
            float: right;
            margin: 100px 200px 0 0;
        }


        
    </style>
</head>
<body>
    <section class="layout1">Box Model</section>
    <section class="layout2"> Box MOdel</section>
    Hello Developer
</body>
</html>